<% background_image = background_image || "" %>
<div class="banner-text <%= size %>" style="background-image:url('<%= image_path background_image %>');">
  <%= link_to root_path do %>
  <div class="banner-content<%= ' white-text' unless background_image == "" %>">
    <h1>
      Automaat
    </h1>
    <p class="introduction">
      an automated trading system
    </p>
  </div>
    <% end %>
  <div class="last-updated">
    <i class="fa fa-gears"></i>
    <p class="<%= 'white-and-heavy' unless background_image == "" %>">
      Last update ran on <%= Date.today.in_time_zone("Amsterdam").strftime('%Y %B %d') %>
    </p>
  </div>
</div>
