<div class="banner-columns-container border-bottom">
  <div class="breadcrumbs">
    <%= link_to "tradeprocess overview", root_path %> < <span>Trade process number <%= @trade_process.id %></span>
  </div>
  <%= render partial: "shared/banners/banner" %>

  <% if @trade_process %>
    <%= render partial: "shared/banners/banner_stats", locals: { trade_process: @trade_process } %>
  <% end %>
</div>
<div class="filler border-bottom" style="background-image:url('<%= image_path 'pencil-machine.gif' %>');"></div>
<% if @timeline.any? %>
  <div class="timeline-container border-bottom">
    <h2 class="text-center">
      Timeline last day
    </h2>
      <%= timeline @timeline, adapter: "google" %>
  </div>
<% end %>
<div class="banner-columns-container">
  <div class="logs-container border-right">
    <div class="row">
      <h2 class="text-center">
        Session logs
      </h2>
      <% @coin_sessions.each do |coin_session| %>
        
        <% unless coin_session.session_log.nil? %>
          <div class="col-xs-12 col-lg-6">
            <%= render partial: "shared/cards/log_card", locals: { coin_session: coin_session } %>
          </div>
        <% end %>

      <% end %>
      <div class="paginate-logs">
        <%= will_paginate @coin_sessions, param_name: 'log_page' %>
      </div>
    </div>
  </div>
  <div class="banner-text-full">
    <div class="banner-content-chart">
      <h2 class="text-center">
        Last three hours
      </h2>
      <% last_three_hours = @trade_process.coin_sessions.where(updated_at: (Time.now - 3.hour)..Time.now) %>
      <%= line_chart last_three_hours.group(:updated_at).sum(:last_known_value).map{|date,value| [date.strftime("%e %b - %H:%M"), value] }, 
      colors: ["#fd3e48", "#e33740", "#ca3139", "#b12b32", "#97252b", "#7e1f24"] ,
      curve: true,
      min: last_three_hours.order(last_known_value: :asc).limit(1).first.last_known_value - 10, 
      max: last_three_hours.order(last_known_value: :desc).limit(1).first.last_known_value + 10, 
      discrete: true 
      %>
    </div>
    <div class="banner-content-chart">
      <h2 class="text-center">
        Last day
      </h2>
      <% last_24_hours = @trade_process.coin_sessions.where(updated_at: (Time.now - 24.hours)..Time.now) %>
      <%= line_chart last_24_hours.group(:updated_at).sum(:last_known_value).map{|date,value| [date.strftime("%e %b - %H:%M"), value] }, 
      colors: ["#fd3e48", "#e33740", "#ca3139", "#b12b32", "#97252b", "#7e1f24"] ,
      curve: true,
      min: last_24_hours.order(last_known_value: :asc).limit(1).first.last_known_value - 10, 
      max: last_24_hours.order(last_known_value: :desc).limit(1).first.last_known_value + 10, 
      discrete: true 
      %>
    </div>
  </div>
</div>




