<div class="banner-columns-container border-bottom">
  <div class="breadcrumbs">
    <%= link_to "tradeprocess overview", root_path %> < <span>Trade process number <%= @trade_process.id %></span>
  </div>
  <%= render partial: "shared/banners/banner" %>

  <% if @trade_process %>
    <%= render partial: "shared/banners/banner_stats", locals: { trade_process: @trade_process } %>
  <% end %>
</div>


<div class="container">
  <div class="row">
    <h2 class="text-center">
      Session logs
    </h2>
    <% @coin_sessions.each do |coin_session| %>
      
      <% unless coin_session.session_log.nil? %>
        <div class="col-xs-12 col-lg-6">
          <%= render partial: "shared/cards/log_card", locals: { coin_session: coin_session } %>
        </div>
      <% end %>

    <% end %>
    <div class="paginate-logs">
      <%= will_paginate @coin_sessions %>
    </div>
  </div>
</div>