<div class="banner-columns-container">
  <%= render partial: "shared/banners/banner" %>

  <% if @trade_process %>
    <%= render partial: "shared/banners/banner_stats", locals: { trade_process: @trade_process } %>
  <% end %>
</div>

<div class="banner-text-full">
  <div class="banner-content">
      <h2 class="text-center">
        All coins used
      </h2>
      <table class="coins">
        <thead>
          <tr>
            <th>
              Icon
            </th>
            <th>
              Symbol
            </th>
            <th>
              Name
            </th>
            <th>
              Times used
            </th>
          </tr>
        </thead>
        <tbody>
          <% @coins.each do |coin| %>
            <tr>
              <td>
                <i class="cc <%= coin.symbol %>" title="<%= coin.symbol %>"></i> 
              </td>
              <td>
                <%= coin.symbol %>
              </td>
                <td>
                  <% if coin.name %>
                    <%= coin.name %>
                  <% end %>
                </td>
              <td>
                <%= coin.coin_sessions.count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <%= will_paginate @coins %>
</div>
