<div class="banner-columns-container">
  <%= render partial: "shared/banners/banner" %>

  <div class="banner-stats">
    <div class="banner-content" style="background-image:url('<%= image_path 'background.gif' %>');">
      <h2>
        <%= @amount_of_trade_processes %> <%= @amount_of_trade_processes > 1 ? 'trade processes' : 'trade process' %>
      </h2>
    </div>
    <div class="banner-content white">
      <ul class="trade-list">
        <% @trade_processes.each_with_index do |trade_process, index| %>
          <li>
            <%= link_to trade_process_path(trade_process) do %>
            <i class="fa fa-check"></i> Trade Process number <strong><%= index + 1 %></strong>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<%= render partial: "shared/coin_stats", locals: { coins: @coins } %>